body {
    background-color: rgb(0, 110, 255);
  }
  h1{
    color: yellow;
    background-color: black;
    text-align: center;
  }
  img{
    margin-left: 800px;
  }
  H23{
    text-align: center;
  }
  h2{
    text-align: center;
  }